html{
   margin: 0%; 
}

body{
    margin: 0%;
    /* font-family: 'Times New Roman', Times, serif; */
}

#headerTag h1{
    top :0%;
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: xxlarge;
    color: white;
    text-align: center;
    /* padding: 12px; */
    position: fixed;
    height: 40px;
    width: 100%;
    
}

/* navigation bar */
#navigationbar{
    margin: 0%;
    top: 40px;
    position: fixed;
    width: 100%;
}

#navigationbaritems{
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: large;
}

a{
    /* float: left; */
    text-decoration: none;
    color: white;
    /* margin: 0%; */
    margin: 15px, 0px, 15px,0px;
}

#navigationbaritems li{
    display: inline-block;
    width: 130px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    padding: 5px;
    font-size: medium;
}


#navigationbaritems li:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdown a{
    color:rgb(67, 180, 245);
    text-align: left;
    font-size: smaller;
    padding: 10px;
}

.dropdown{
    margin: 0%;
    display: none;
    text-align: left;
    max-width: 130px;
    padding: 0%;
    position: absolute;
    background-color: rgb(228, 240, 247);  
    
}
.imgbox{
    width: 100%;
    height: 100%;
}


#navigationbaritems li:hover .dropdown{
    /* margin: 0%; */
    float: left;
    display: block;
    padding: 0%;
    width: auto;
    /* text-align: left; */
    overflow: hidden;
}

.imganimation{
    display: flex;
    margin-top: 10px;
    top: 100px;
    /* width: 1000px; */
    width: 100%;
    height: 350px;
    margin-left: -10% ;
    position: absolute;
    transform: translate(10%, 2%);
    overflow: hidden;
    z-index: -1;
    border: 2px steelblue;
    /* border-style: double; */
    /* border-color: 20px steelblue; */
    /* box-shadow: -1px 5px 15px black; */
}

.slide{
    width: 100%;
    display: flex;
    animation-name: fade;
    animation-duration:20s;
    animation-iteration-count: infinite;
}

.slide img{
    width: 100%;
    padding: 5px;
    border: 2px solid steelblue;
}



@keyframes fade {
    0% {
        transform: translate(0%);
    }
    25% {
        transform: translate(-100%);
    }
    50% {
        transform: translate(-200%);
    }
    75% {
        transform: translate(-300%);
    }
    100% {
        transform: translate(-400%);
    }
  
  
}

/* covid products */
.covidproducts{
    margin-top: 490px;
    margin-left: 20px;
}

.product div{
    display: inline-block;
}

.singleProductConfig{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 12px;
    background-color: rgb(241, 240, 248);
    /* height: 345px; */
    padding: 10px;
    box-shadow: -5px 7px 11px -6px rgba(0,0,0,0.75);
}

.singleProductConfig h3{
    margin-top: 2%;
    margin-left: 8px;
    height: 6px;
}

.singleProductConfig img{
    width:200px;
    height: 145px;
}

.singleProductConfig:hover{
    margin-left: 25px;
    width:210px;
    height: 265px;
}


.singleProductConfig h4{
    position: relative;
    text-align: justify;
    margin: 2%;
    font-size: medium;
    color: rgb(108, 93, 247);
}

.singleProductConfig button{
    position: relative;
    margin-left: 25px;
    margin-bottom: 5px;
    padding: 5px;  
    width: 150px;
    height: auto;
    border: 2px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(241, 115, 56);
    background-color: rgb(217, 215, 247);
    text-align: center;
    /* transform: translate(20%, 10%); */
    /* font-weight: bold; */
}

.singleProductConfig button:active{
   background-color: rgb(250, 234, 230);
   border: 1px solid;
   border-color: rgb(0, 255, 76);
}

.diabetesproducts{
    margin-left: 20px;
}


#copyright{ 
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    
}
